/*  fonts used
font-family: 'Darker Grotesque', sans-serif;
font-family: 'Oxanium', cursive;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Source Code Pro', monospace; */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Oxanium", cursive;
}

body {
  background-color: #242424;
}

header {
  background-color: #373737;
  height: 4rem;
  width: 100%;
  position: fixed;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.description-container {
  width: 100%;
  color: #ffffff;
  padding: 2rem 20rem 2rem;
  text-align: justify;
}

.first-p {
  color: #ff9640;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Oxanium", cursive;
  width: 100%;
}

.main-game {
  background-color: #464646;
  color: #ffffff;
  padding: 2rem;
  width: 35rem;
  border-radius: 6px;
}

.round-winner {
  font-size: 3rem;
  height: 3rem;
  padding-right: 1.4rem;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#Rock {
  border-top-left-radius: 20px;
}

button {
  outline: none;
  border: none;
  background-color: #ffffff;
  padding: 1.2rem;
  cursor: pointer;
  font-family: "Oxanium", cursive;
  font-size: 1rem;
  user-select: none;
  border: 1px solid #a2a2a2;
}

button:hover {
  background-color: #7fffd4;
}

#reset-button {
  outline: none;
  border: none;
  color: #ffffff;
  background-color: #ff7300;
  cursor: pointer;
  user-select: none;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 30rem;
}

#reset-button:hover {
  background-color: #b35100;
  transition: 0.3s;
}

.user-choice-title {
  color: rgb(255, 157, 0);
}

.result-title {
  margin-top: 3.5rem;
}

/* buttons */
#computer-choice {
  color: #ff7300;
}

#user-choice {
  color: #7fffd4;
  color: #dedede;
}

#result {
  color: #ff7300;
}

.main-score-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #242424;
  padding: 2rem;
  user-select: none;
}

.main-score-container h2 {
  font-size: 1rem;
}

.main-score-container h3 {
  font-size: 3rem;
}

.score-container {
  font-size: 1.2rem;
  width: 150px;
  user-select: no;
}

.vs-title {
  color: #33dee1;
  padding-right: 30px;
}

/* rock, paper, scissors, lizard, spock icons  */
.icons-container {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

.icons-container-user {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

.rock-icon {
  background-color: transparent;
  background-image: url("./images/rock.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  padding-left: 10px;
}

.paper-icon {
  background-color: transparent;
  background-image: url("./images/paper.png");
  background-size: cover;
  width: 85px;
  height: 97px;
  padding-left: 10px;
}

.scissors-icon {
  background-color: transparent;
  background-image: url("./images/scissors.png");
  background-size: cover;
  width: 100px;
  height: 90px;
  padding-left: 10px;
}

.lizard-icon {
  background-color: transparent;
  background-image: url("./images/lizard.png");
  background-size: cover;
  width: 85px;
  height: 95px;
  padding-left: 10px;
}

.spock-icon {
  background-color: transparent;
  background-image: url("./images/spock.png");
  background-size: cover;
  width: 85px;
  height: 95px;
  padding-left: 10px;
}

/* footer */

footer {
  background-color: #464646;
  height: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.8rem;
}

.github-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
  color: #ffffff;
  font-size: 1.2rem;
  padding-top: 2rem;
  padding-left: 2rem;
}

.fa-github {
  color: #ffffff;
  font-size: 2rem;
}

.fa-github:hover {
  color: #ff9640;
}

.created-with {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  padding-top: 2rem;
  padding-left: 5rem;
  font-size: 2rem;
}

.created-with h3 {
  font-size: 1.2rem;
  color: #ffffff;
}

.fa-square-js {
  color: #fffb1b;
}

.fa-html5 {
  color: #ff3f3f;
}

.fa-css3-alt {
  color: #3496ff;
}

@media only screen and (max-width: 970px) {
  header {
    width: 100%;
    font-size: 0.8rem;
  }
  .description-container {
    padding: 1.6rem;
  }

  .main-game {
    width: 18rem;
  }

  .buttons-container {
    width: 18rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .button {
    border: solid #ff7300 2px;
  }

  button {
    margin-top: 0.2rem;
    padding: 0.2rem;
    border-radius: 4px;
  }

  #reset-button {
    width: 22rem;
    display: flex;
    justify-content: center;
  }

  .created-with {
    display: flex;
    flex-wrap: wrap;
  }

  .created-with h3 {
    font-size: 1rem;
    width: 100%;
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .title-container {
    width: 15rem;
  }

  .description {
    width: 100%;
  }

  .github-page {
    font-size: 0.9rem;
    width: 30%;
    padding-top: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

  .created-with {
    font-size: 1.3rem;
    width: 30%;
    /* background-color: #242424; */
    padding: 2rem;
  }
}
